@charset "utf-8";
/* CSS Document */
/* Developed by Mike Candy @ 14-07-2025 */

/* HEADER */
.header-div {
  position: fixed;
  width: 100%;
  min-height: 80px;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.header-div .header-div-in {
  width: 98%;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-div .header-div-in .header-left-div {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-div .header-div-in .header-left-div .logo-div {
  width: 150px;
  padding: 5px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  margin-right: 50px;
}

.header-div .header-div-in .header-left-div .logo-div img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.header-div .header-div-in .header-left-div  p {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  color: var(--primary-color);
  font-family: sub-title-font;
}


.header-div .header-div-in .header-left-div .search-div {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  padding: 0px 15px;
  border-radius: 25px;
  height: 50px;
}

.header-div .header-div-in .header-left-div .search-div input {
  border: none;
  background: none;
  outline: none;
  font-size: 15px;
  width: 500px;
  font-family: body-font;
}

.header-div .header-div-in .header-left-div .search-div i {
  color: var(--text-color);
  font-size: 15px;
}

.header-div .header-div-in .header-right-div {
  display: flex;
  align-items: center;
  gap: 25px;
}



.header-div .header-div-in .header-right-div .notification-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--bg-color);
  border-radius: 50%;
  cursor: pointer;
}

.header-div .header-div-in .header-right-div .notification-div i {
  font-size: 20px;
  font-family: body-font;
  color: var(--primary-color);
  cursor: pointer;
}

.header-div .header-div-in .header-right-div .notification-div i:hover {
  color: var(--secondary-color);
}

.header-div .header-div-in .header-right-div .profile-pic-div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.header-div .header-div-in .header-right-div .profile-pic-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}










/* SIDEBAR */
.sidebar-div {
  position: absolute;
  width: 250px;
  height: calc(100% - 80px);
  bottom: 0px;
  left: 0px;
  background: var(--white-color);
  border-right: #e7ecec 1px solid;
}

.sidebar-div .sidebar-div-in {
  height:calc(100% - 60px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-div .sidebar-div-in nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: body-font;
}

.sidebar-div .sidebar-div-in nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.sidebar-div .sidebar-div-in nav ul li {
  text-decoration: none;
  color: var(--sub-body-color);
  padding: 10px 10px ;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sidebar-div .sidebar-div-in nav ul li.active,
.sidebar-div .sidebar-div-in nav ul li:hover {
  background: #f2f2f2;
  color: var(--secondary-color);
}

.sidebar-div .sidebar-div-in nav ul li i {
  color: var(--primary-color);
}







/* MAIN CONTENT */
.main-container {
  position: absolute;
  width: calc(100% - 250px);
  height: calc(100% - 80px);
  bottom: 0px;
  right: 0px;
  background: var(--bg-color);
  overflow: auto;
}

.main-container .main-content-div {
  display: flex;
  flex-direction: column;
   gap: 20px;
  padding: 40px;
}

.main-container .main-content-div .active-page-div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: body-font;
  color: var(--text-color);
}

.main-container .main-content-div .active-page-div i {
  color: var(--primary-color);
  font-size: 20px;
}











.content-div{
  background-color: var(--white-color);
  border-radius: 7px;
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}









.bg-secondary {
  background: var(--white-color) url('../../../all-images/images/dashboard-bg.png') no-repeat right ;
  background-size: contain;
}

.greetings-div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.greetings-div .title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
}
.greetings-div .title-div h1 {
  font-size: 35px;
  margin-bottom: -5px;
  padding: 0px;
  color: var(--primary-color);
}







.greetings-div .wallet-div {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background:var(--bg-color);
  border-radius: 10px;
  color: var(--body-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.greetings-div .wallet-div h2 {
  color: var(--primary-color);
}
.greetings-div .wallet-div .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  transition: 0.2s ease-in;
  font-family: body-font;
}