@charset "utf-8";
/* CSS Document */
/* Developed by Mike Candy @ 14-07-2025 */

/* HEADER */
.header-div {
  position: fixed;
  width: 100%;
  min-height: 80px;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.header-div .header-div-in {
  width: 98%;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-div .header-div-in .header-left-div {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-div .header-div-in .header-left-div .logo-div {
  width: 150px;
  padding: 5px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.header-div .header-div-in .header-left-div .logo-div img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.header-div .header-div-in .header-left-div .country-logo {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  overflow: hidden;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  margin-right: 25px;
}

.header-div .header-div-in .header-left-div .country-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-div .header-div-in .header-left-div p {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  color: var(--primary-color);
  font-family: sub-title-font;
  white-space: nowrap;
}

.header-div .header-div-in .header-left-div .search-div {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  padding: 0px 15px;
  border-radius: 25px;
  height: 50px;
}

.header-div .header-div-in .header-left-div .search-div input {
  border: none;
  background: none;
  outline: none;
  font-size: 15px;
  width: 500px;
  font-family: body-font;
}

.header-div .header-div-in .header-left-div .search-div i {
  color: var(--text-color);
  font-size: 15px;
}

.header-div .header-div-in .header-right-div {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-div .header-div-in .header-right-div .notification-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--bg-color);
  border-radius: 50%;
  cursor: pointer;
}

.header-div .header-div-in .header-right-div .notification-div i {
  font-size: 20px;
  font-family: body-font;
  color: var(--primary-color);
  cursor: pointer;
}

.header-div .header-div-in .header-right-div .notification-div i:hover {
  color: var(--secondary-color);
}

.header-div .header-div-in .header-right-div .profile-pic-div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.header-div .header-div-in .header-right-div .profile-pic-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media all and (max-width: 1135px) {
  .header-div .header-div-in .header-left-div .search-div input {
    width: auto;
  }
}
@media all and (max-width: 900px) {
  .header-div .header-div-in .header-left-div .search-div {
    display: none;
  }
}
@media all and (max-width: 560px) {
  .header-div .header-div-in .header-left-div {
    gap: 10px;
  }
  .header-div .header-div-in .header-left-div .country-logo {
    margin-right: 0px;
  }
}
@media all and (max-width: 500px) {
  .header-div .header-div-in {
    width: 96%;
  }
  .header-div .header-div-in .header-left-div p {
    display: none;
  }
}
/* /////////////////////////////////////////////////////////////*/

.toggle {
  top: 70px;
  width: 320px;
  background: #fcfcfc;
  height: auto;
  position: absolute;
  right: 1%;
  display: none;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.toggle:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border: 15px solid;
  border-color: transparent transparent #f4f4f4 transparent;
  right: 2px;
  top: -30px;
}

.toggle .toggle-in {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.toggle .toggle-in .toggle-title {
  display: flex;
  align-items: start;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: var(--text-color);
}
.toggle .toggle-in .toggle-title .dp {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    120deg,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  color: var(--white-color);
  font-size: 20px;
  font-family: sub-title-font;
}

.toggle .toggle-in .toggle-title h2 {
  overflow: hidden;
  font-size: 14px;
  font-family: sub-title-font;
  color: var(--primary-color);
}

.toggle .toggle-in ul {
  margin: 0px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.toggle .toggle-in ul li {
  text-decoration: none;
  color: var(--sub-body-color);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: transparent 1px solid;
}

.toggle .toggle-in ul li.active,
.toggle .toggle-in ul li:hover {
  background: linear-gradient(
    90deg,
    var(--white-color),
    #faf5e5,
    var(--white-color)
  );
  border: #fff4d4 1px solid;
  color: var(--secondary-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.toggle .toggle-in ul li i {
  color: var(--primary-color);
}
/* /// for logOut */
.toggle .toggle-in ul .logOut {
  height: 30px;
  background: #fdc1b6;
  color: var(--primary-color);
}
.toggle .toggle-in ul .logOut:hover {
  transform: scale(1.05);
  background: #fdc1b6;
  color: var(--body-color);
  border: transparent 1px solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/* /// for loadWallet */
.toggle .toggle-in ul .loadWallet {
  height: 30px;
  background: #e2fff8;
  color: var(--active-color);
}
.toggle .toggle-in ul .loadWallet:hover {
  transform: scale(1.05);
  background: #e2fff8;
  color: var(--body-color);
  border: transparent 1px solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
@media all and (max-width: 500px) {
  .toggle {
    right: 4%;
  }
}

/* /////////////////////////////////////////////////////////////*/
.sidebar-div {
  position: absolute;
  width: 250px;
  height: calc(100% - 80px);
  bottom: 0px;
  left: 0px;
  background: var(--white-color);
  border-right: #e7ecec 1px solid;
}

.sidebar-div .sidebar-div-in {
  height: calc(100% - 60px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-div .sidebar-div-in nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: body-font;
}

.sidebar-div .sidebar-div-in nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.sidebar-div .sidebar-div-in nav ul li {
  text-decoration: none;
  color: var(--sub-body-color);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: transparent 1px solid;
}

.sidebar-div .sidebar-div-in nav ul li.active,
.sidebar-div .sidebar-div-in nav ul li:hover {
  background: linear-gradient(
    90deg,
    var(--white-color),
    #faf5e5,
    var(--white-color)
  );
  border: #fff4d4 1px solid;
  color: var(--secondary-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-div .sidebar-div-in nav ul li i {
  color: var(--primary-color);
}
@media all and (max-width: 1150px) {
  .sidebar-div {
    display: none;
  }
}

/* /////////////////////////////////////////////////////////////*/
main {
  position: fixed;
  width: calc(100% - 250px);
  height: calc(100% - 120px);
  padding-bottom: 40px;
  bottom: 0px;
  right: 0px;
  background: var(--bg-color);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media all and (max-width: 1150px) {
  main {
    width: 100%;
  }
}
/* /////////////////////////////////////////////////////////////*/

.page-title-div {
  width: 100%;
  background: rgba(250, 245, 229, 0.5);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.page-title-div .div-in {
  width: calc(100% - 40px);
  padding: 20px;
  background: rgba(250, 245, 229, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.page-title-div .div-in .title-div {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 15px;
  font-family: body-font;
  color: var(--text-color);
}
.page-title-div .div-in .title-div .icon-div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    120deg,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}
.page-title-div .div-in .title-div .icon-div i {
  color: var(--white-color);
  font-size: 35px;
}
.page-title-div .div-in .title-div .text-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.page-title-div .div-in .title-div .text-div h3 {
  background: linear-gradient(
    120deg,
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* for WebKit browsers */
  background-clip: text;
  color: transparent;
}

.page-title-div .div-in .btn-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page-title-div .div-in .btn-div .btn {
  border: none;
  height: 50px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 25px;
  font-family: sub-title-font;
  padding: 0px 25px;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 100%;
  background-position: left;
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.page-title-div .div-in .btn-div .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.05); /* subtle hover grow */
}
.page-title-div .div-in .btn-div .donwload-btn {
  background: linear-gradient(90deg, #faf5e5, #fff);
  color: var(--body-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.page-title-div .div-in .search-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  padding: 0px 15px;
  border-radius: 25px;
  height: 50px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.page-title-div .div-in .search-div input {
  border: none;
  background: none;
  outline: none;
  font-size: 15px;
  font-family: body-font;
  width: 100%;
}

.page-title-div .div-in .search-div i {
  color: var(--text-color);
  font-size: 15px;
}
@media all and (max-width: 900px) {
  .page-title-div .div-in {
    padding: 20px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
  }
  .page-title-div .div-in .title-div {
    width: 100%;
  }
  .page-title-div .div-in .btn-div {
    width: 100%;
  }
  .page-title-div .div-in .btn-div .btn {
    padding: 0px 18px;
  }
  .page-title-div .div-in .search-div {
    width: calc(100% - 30px);
  }
}

/* /////////////////////////////////////////////////////////////*/
.main-content-div {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  padding-top: 0px;
}
@media all and (max-width: 1150px) {
  .main-content-div {
    width: 96%;
    padding: 0px;
  }
}
/* /////////////////////////////////////////////////////////////*/
.content-div {
  background-color: var(--white-color);
  border-radius: 15px;
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.content-div .content-title {
  height: 60px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content-div .content-title .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: sub-title-font;
  font-size: 16px;
}

.content-div .content-title .title i {
  color: var(--primary-color);
}
.content-div .content-title .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: var(--sub-body-color);
  color: var(--white-color);
  font-size: 12px;
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 0px 20px;
  border-radius: 20px;
  transition: 0.2s ease-in;
  font-family: sub-title-font;
  white-space: nowrap;
}
.content-div .content-inner {
  width: calc(100% - 40px);
  padding: 20px;
}
@media all and (max-width: 400px) {
  .content-div .content-title .title {
    font-size: 13px;
  }
}

/* /////////////////////////////////////////////////////////////*/
.bg-secondary {
  background: url("../../../all-images/images/dashboard-bg.png"),
    linear-gradient(165deg, #fffdf5, #fff, #fffdf5);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
@media all and (max-width: 1400px) {
  .bg-secondary {
    background-image: url("../../../all-images/images/dashboard-bg-1.png"),
      linear-gradient(165deg, #fffdf5, #fff, #fffdf5);
  }
}
@media all and (max-width: 800px) {
  .bg-secondary {
    background-size: cover;
    background-position: center;
  }
}
@media all and (max-width: 670px) {
  .bg-secondary {
    background: linear-gradient(165deg, #fffdf5, #fff, #fffdf5);
  }
}
/* or overlay, lighten, darken, etc. */

/* /////////////////////////////////////////////////////////////*/
.greetings-div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
  max-width: 600px;
}

.greetings-div .title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--body-color);
}

.greetings-div .title-div h1 {
  font-size: 35px;
  line-height: 40px;
  padding: 0px;
  color: var(--primary-color);
}

.greetings-div .title-div span {
  font-size: 12px;
  color: var(--text-color);
}

.greetings-div .wallet-div {
  width: 70%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: var(--white-color);
  border-radius: 10px;
  color: var(--body-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.greetings-div .wallet-div h2 {
  color: var(--primary-color);
}

.greetings-div .wallet-div .btn {
  border: none;
  height: 40px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 20px;
  font-family: sub-title-font;
  padding: 0px 15px;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 100%;
  background-position: left;
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
  white-space: nowrap;
}

.greetings-div .wallet-div .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.05); /* subtle hover grow */
}
@media all and (max-width: 670px) {
  .greetings-div {
    padding: 10px;
    width: calc(100% - 20px);
  }
  .greetings-div .wallet-div {
    width: calc(100% - 30px);
  }
  .greetings-div .title-div h1 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.statistics-back-div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.statistics-back-div .statistics-div {
  min-height: 100px;
  flex: 1 1 30%; /* grow:1 shrink:1 basis:19% */
  min-width: 300px;
  max-width: 100%;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  background: linear-gradient(-120deg, #f8f5ec, #fff);
  transition: all 0.3s ease-in 0.3s;
}

.statistics-back-div .statistics-inner-div {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statistics-back-div .statistics-inner-div .statistics-text {
  display: flex;
  flex-direction: column;
  font-family: sub-title-font;
  color: var(--body-color);
}
.statistics-back-div .statistics-inner-div .statistics-text span {
  font-size: 13px;
  font-family: body-font;
  color: var(--sub-body-color2);
  font-style: italic;
}

.statistics-back-div .statistics-inner-div .statistics-text h2 {
  font-size: 30px;
  font-family: title-font;
  background: linear-gradient(
    120deg,
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* for WebKit browsers */
  background-clip: text;
  color: transparent;
}

.statistics-back-div .statistics-inner-div .statistics-icon {
  color: var(--secondary-color);
  font-size: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background: var(--white-color);
  border-radius: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.statistics-back-div .statistics-inner-div .upcoming {
  color: var(--link-color);
  border: 1px solid var(--link-color);
}
.statistics-back-div .statistics-inner-div .completed {
  color: var(--active-color);
  border: 1px solid var(--active-color);
}
.statistics-back-div .statistics-inner-div .failed {
  color: var(--close-color);
  border: 1px solid var(--close-color);
}

.statistics-back-div .statistics-div:hover {
  background: linear-gradient(-100deg, #fff, #faf5e5);
  transform: scale(1.02);
  transition: 0.2s ease-in;
  border: 1px solid rgba(157, 4, 60, 0.096);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.exams-back-div {
  display: flex;
  justify-content: start;
  gap: 15px;
  padding: 20px;
  padding-top: 40px;
  flex-wrap: wrap;
}

.exams-back-div .exam-div {
  background: linear-gradient(-180deg, #fff, #fffdf5, #fff);
  border-radius: 10px;
  padding: 20px;
  padding-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px;
  flex: 1 1 19%; /* grow:1 shrink:1 basis:19% */
  min-width: 250px;
  max-width: 100%;
}
.exams-back-div .exam-div:hover {
  border: 1px solid var(--primary-color);
  background: linear-gradient(-180deg, #fffdf5, #fff);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  transition: 0.2s ease-in;
}

.exams-back-div .exam-div .exam-image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: -35px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  margin-bottom: -30px;
}

.exams-back-div .exam-div .exam-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.exams-back-div .exam-div .exam-status,
.exams-back-div .exam-div .draft {
  font-size: 10px;
  padding: 3px 10px;
  align-self: self-end;
  border-radius: 15px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background: rgba(124, 124, 124, 0.1);
}

.exams-back-div .exam-div .pending,
.exams-back-div .exam-div .inprogress {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background: rgba(247, 160, 37, 0.1);
}
.exams-back-div .exam-div .upcoming {
  color: var(--link-color);
  border: 1px solid var(--link-color);
  background: rgba(50, 138, 179, 0.1);
}
.exams-back-div .exam-div .done {
  color: var(--active-color);
  border: 1px solid var(--active-color);
  background: rgba(0, 153, 0, 0.1);
}

.exams-back-div .exam-div .exam-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.exams-back-div .exam-div .exam-info .exam-time {
  display: flex;
  gap: 10px;
  font-size: 10px;
}
.exams-back-div .exam-div .exam-info .exam-time p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.exams-back-div .exam-div .exam-info .exam-time p i {
  color: var(--primary-color);
}

.exams-back-div .exam-div .btn {
  border: none;
  height: 40px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 20px;
  font-family: sub-title-font;
  align-self: self-start;
  padding: 0px 15px;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 100%;
  background-position: left;
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
  white-space: nowrap;
}

.exams-back-div .exam-div .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.05); /* subtle hover grow */
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.book-back-div {
  display: flex;
  justify-content: start;
  gap: 5px;
  padding: 20px;
  flex-wrap: wrap;
}

.book-back-div .book-div {
  position: relative;
  border-radius: 10px;
  border: #e6e6e6 1px solid;
  background: var(--white-color);
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  cursor: pointer;
  flex: 1 1 19%; /* grow:1 shrink:1 basis:19% */
  min-width: 150px;
  max-width: 300px;
}
.book-back-div .book-div:hover {
  border: 1px solid var(--primary-color);
  background: linear-gradient(-180deg, #faf5e5, #fff);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.book-back-div .book-div .image-div {
  position: relative;
  width: calc(100% - 20px);
  height: 200px;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 10px;
}

.book-back-div .book-div .image-div img {
  width: 100%;
  height: auto;
  transition: 0.2s ease-in;
}

.book-back-div .book-div:hover .image-div img {
  transform: scale(1.1);
}

.book-back-div .book-div .icon-div {
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--white-color);
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  right: 20px;
  top: 190px;
  overflow: hidden;
  z-index: 2;
}

.book-back-div .book-div .icon-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book-back-div .book-div .text-div {
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-back-div .book-div .text-div .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.book-back-div .book-div .text-div .details h3 {
  font-family: sub-title-font;
  font-size: 18px;
  line-height: 20px;
  color: var(--body-color);
}
.book-back-div .book-div .text-div .details .book-sum {
  display: flex;
  gap: 10px;
  font-size: 12px;
}
.book-back-div .book-div .text-div .details .book-sum p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.book-back-div .book-div .text-div .details .book-sum p i {
  color: var(--primary-color);
}

.book-back-div .book-div .text-div .btn {
  border: none;
  height: 40px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 20px;
  font-family: sub-title-font;
  align-self: self-start;
  padding: 0px 15px;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 100%;
  background-position: left;
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
  white-space: nowrap;
}

.book-back-div .book-div .text-div .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.05); /* subtle hover grow */
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*-----------table component---------------------------------------------------------------------------------------*/
.table-div {
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: var(--white-color);
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.table-div .table {
  width: 100%;
  font-size: 12px;
  min-width: 500px;
  border-collapse: collapse;
}

.table-div .table .tb-col {
  background: #f8f8f8;
  height: 40px;
  text-align: left;
  border-bottom: 1px solid rgba(215, 215, 215, 0.6);
  color: var(--sub-body-color);
}

.table-div .table .tb-col th {
  padding: 10px 20px;
  font-family: sub-title-font;
  font-size: 12px;
  font-weight: 100;
}

.table-div .table .tb-row {
  height: 60px;
  font-size: 11px;
  color: var(--text-color);
  border-bottom: 1px solid rgba(215, 215, 215, 0.6);
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
}

.table-div .table .tb-row:hover {
  background: rgba(215, 215, 215, 0.3);
}
.table-div .table td {
  padding: 10px 20px;
  font-family: body-font;
}

.table-div .table .tb-row .clickable-td {
  font-family: sub-title-font;
  font-size: 11px;
  color: var(--sub-body-color);
  cursor: pointer;
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
}
.table-div .table .tb-row .clickable-td:hover {
  color: var(--secondary-color);
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
}
.table-div .table .status-div {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 10px;
  font-family: body-font;
  float: left;
}

.table-div .table .SUCCESS,
.table-div .table .ACTIVE {
  background: rgba(46, 204, 113, 0.1);
  color: rgba(9, 172, 77, 0.9);
}

.table-div .table .PENDING,
.table-div .table .SUSPENDED {
  background: rgb(252, 164, 57, 0.1);
  color: rgba(218, 90, 31, 0.87);
}

.table-div .table .CANCELLED {
  background: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0);
}

.table-div .table .tb-row .btn {
  border: none;
  height: 30px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 15px;
  font-family: body-font;
  align-self: self-start;
  padding: 0px 15px;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 100%;
  background-position: left;
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
  white-space: nowrap;
}

.table-div .table .tb-row .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.05); /* subtle hover grow */
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.slide-form-div {
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 500px;
  right: 0px;
  top: 0px;
  background-color: var(--white-color);
  overflow: hidden;
}

.slide-form-div .form-title-div {
  width: calc(100% - 40px);
  padding: 0px 20px;
  min-height: 65px;
  background: rgba(250, 245, 229, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.slide-form-div .form-title-div .title-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: body-font;
  color: var(--text-color);
}
.slide-form-div .form-title-div .title-div .icon-div {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    120deg,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 8px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}
.slide-form-div .form-title-div .title-div .icon-div i {
  color: var(--white-color);
  font-size: 20px;
}
.slide-form-div .form-title-div .title-div h3 {
  background: linear-gradient(
    120deg,
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* for WebKit browsers */
  background-clip: text;
  color: transparent;
}
.slide-form-div .form-title-div .btn-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slide-form-div .form-title-div .btn-div .btn {
  border: none;
  height: 30px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 15px;
  font-family: body-font;
  padding: 0px 15px;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 100%;
  background-position: left;
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.slide-form-div .form-title-div .btn-div .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.05); /* subtle hover grow */
}

.slide-form-div .container-back-div {
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  bottom: 0px;
  padding-bottom: 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
.slide-form-div .container-back-div .form-notification {
  width: calc(100% - 60px);
  padding: 20px 30px;
  height: auto;
  background: rgba(250, 245, 229, 0.5);
  color: var(--link-color);
}

.slide-form-div .container-back-div .btn-div {
  width: calc(100% - 60px);
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slide-form-div .container-back-div .btn-div .btn {
  border: none;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 30px;
  font-family: body-font;
  font-size: 18px;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 100%;
  background-position: left;
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.slide-form-div .container-back-div .btn-div .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.05); /* subtle hover grow */
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.form-container {
  width: calc(90% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-container .form-note {
  font-size: 12px;
  color: var(--sub-body-color2);
  font-style: italic;
}
.form-container .form-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 10px;
}
.form-container .form-text span {
  color: var(--secondary-color);
  font-style: italic;
  font-size: 11px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.caption-div {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  border-radius: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}

.caption-div .caption-title-div {
  width: calc(100% - 40px);
  padding: 0px 20px;
  min-height: 65px;
  background: rgba(250, 245, 229, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px 15px 0px 0px;
}

.caption-div .caption-title-div .title-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: body-font;
  color: var(--text-color);
}
.caption-div .caption-title-div .icon-div {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    120deg,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 8px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}
.caption-div .caption-title-div .title-div .icon-div i {
  color: var(--white-color);
  font-size: 20px;
}
.caption-div .caption-title-div .title-div h3 {
  background: linear-gradient(
    120deg,
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* for WebKit browsers */
  background-clip: text;
  color: transparent;
}
.caption-div .caption-title-div .btn-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.caption-div .caption-title-div .btn-div .btn {
  border: none;
  height: 30px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 15px;
  font-family: body-font;
  padding: 0px 15px;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 100%;
  background-position: left;
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.caption-div .caption-title-div .btn-div .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.05); /* subtle hover grow */
}

.caption-div .caption-notification {
  width: calc(100% - 60px);
  padding: 20px 30px;
  background: rgba(250, 245, 229, 0.5);
  color: var(--link-color);
}

.caption-div .caption-body {
  width: calc(100% - 60px);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.caption-div .caption-body .btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.caption-div .caption-body .btn-div .btn {
  border: none;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 30px;
  font-family: sub-title-font;
  font-size: 18px;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 100%;
  background-position: left;
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.caption-div .caption-body .btn-div .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.05); /* subtle hover grow */
}
.caption-div .caption-body .btn-div .false-btn {
  background: linear-gradient(90deg, #faf5e5, #fff);
  color: var(--body-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
