@charset "utf-8";
/* CSS Document */
/* Developed by Mike Candy @ 14-07-2025 */

/* HEADER */
.header-div {
  position: fixed;
  width: 100%;
  min-height: 80px;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.header-div .header-div-in {
  width: 98%;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-div .header-div-in .header-left-div {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-div .header-div-in .header-left-div .logo-div {
  width: 150px;
  padding: 5px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  margin-right: 50px;
}

.header-div .header-div-in .header-left-div .logo-div img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.header-div .header-div-in .header-left-div p {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  color: var(--primary-color);
  font-family: sub-title-font;
}


.header-div .header-div-in .header-left-div .search-div {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  padding: 0px 15px;
  border-radius: 25px;
  height: 50px;
}

.header-div .header-div-in .header-left-div .search-div input {
  border: none;
  background: none;
  outline: none;
  font-size: 15px;
  width: 500px;
  font-family: body-font;
}

.header-div .header-div-in .header-left-div .search-div i {
  color: var(--text-color);
  font-size: 15px;
}

.header-div .header-div-in .header-right-div {
  display: flex;
  align-items: center;
  gap: 25px;
}



.header-div .header-div-in .header-right-div .notification-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--bg-color);
  border-radius: 50%;
  cursor: pointer;
}

.header-div .header-div-in .header-right-div .notification-div i {
  font-size: 20px;
  font-family: body-font;
  color: var(--primary-color);
  cursor: pointer;
}

.header-div .header-div-in .header-right-div .notification-div i:hover {
  color: var(--secondary-color);
}

.header-div .header-div-in .header-right-div .profile-pic-div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.header-div .header-div-in .header-right-div .profile-pic-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}










/* SIDEBAR */
.sidebar-div {
  position: absolute;
  width: 250px;
  height: calc(100% - 80px);
  bottom: 0px;
  left: 0px;
  background: var(--white-color);
  border-right: #e7ecec 1px solid;
}

.sidebar-div .sidebar-div-in {
  height: calc(100% - 60px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-div .sidebar-div-in nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: body-font;
}

.sidebar-div .sidebar-div-in nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.sidebar-div .sidebar-div-in nav ul li {
  text-decoration: none;
  color: var(--sub-body-color);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border:transparent 1px solid;
}

.sidebar-div .sidebar-div-in nav ul li.active,
.sidebar-div .sidebar-div-in nav ul li:hover {
  background: linear-gradient(90deg, var(--white-color),#faf5e5, var(--white-color));
  border: #fff4d4 1px solid;
  color: var(--secondary-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-div .sidebar-div-in nav ul li i {
  color: var(--primary-color);
}







/* MAIN CONTENT */
.main-container {
  position: absolute;
  width: calc(100% - 250px);
  height: calc(100% - 80px);
  bottom: 0px;
  right: 0px;
  background: var(--bg-color);
  overflow: auto;
}

.main-container .main-content-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.main-container .main-content-div .active-page-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .main-content-div .active-page-div .title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: body-font;
  color: var(--text-color);
}

.main-container .main-content-div .active-page-div .title i {
  color: var(--primary-color);
  font-size: 20px;
}
.main-container .main-content-div .active-page-div .btn-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-container .main-content-div .active-page-div .btn-div .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  background:  linear-gradient(90deg, #faf5e5, #FFF);
  color: var(--body-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 40px;
  padding: 0px 15px;
  border-radius: 20px;
  transition: 0.2s ease-in;
  font-family: body-font;
}
.main-container .main-content-div .active-page-div .btn-div .btn:hover {
  background: var(--white-color);
  color: var(--body-color);
  transition: 0.2s ease-in;
}
.main-container .main-content-div .active-page-div .btn-div .apply-btn {
  background: linear-gradient(90deg,var(--primary-color), var(--secondary-color));
  color: var(--white-color);
}










.content-div {
  background-color: var(--white-color);
  border-radius: 7px;
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.content-div .content-title {
  height: 50px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content-div .content-title .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: sub-title-font;
  font-size: 13px;
}

.content-div .content-title .title i {
  color: var(--primary-color);
}

.content-div .content-title .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: var(--sub-body-color);
  color: var(--white-color);
  font-size: 10px;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 0px 10px;
  border-radius: 15px;
  transition: 0.2s ease-in;
  font-family: body-font;
}







.bg-secondary {
  background:
    #faf5e5 url('../../../all-images/images/dashboard-bg.png') no-repeat right ;
  background-size: contain;
  background-position: right;
}

.greetings-div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.greetings-div .title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--body-color);
}

.greetings-div .title-div h1 {
  font-size: 35px;
  margin-bottom: -5px;
  padding: 0px;
  color: var(--primary-color);
}

.greetings-div .title-div span {
  font-size: 12px;
  color: var(--text-color);
}


.greetings-div .wallet-div {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: var(--white-color);
  border-radius: 10px;
  color: var(--body-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.greetings-div .wallet-div h2 {
  color: var(--primary-color);
}

.greetings-div .wallet-div .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: linear-gradient(90deg,var(--primary-color), var(--secondary-color));
  color: var(--white-color);
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 0px 15px;
  border-radius: 20px;
  transition: 0.2s ease-in;
  font-family: body-font;
}
.greetings-div .wallet-div .btn:hover {
  background:  var(--secondary-color);
  transition: 0.2s ease-in;
}





.exams-back-div {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 15px;
  padding: 20px;
  padding-top: 40px;
  flex-wrap: wrap;
}

.exams-back-div .exam-div {
  width: 19%;
  min-width: 170px;
  background: linear-gradient(-180deg, #FFF, #faf5e5, #FFF);
  border-radius: 10px;
  padding: 20px;
  padding-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.exams-back-div .exam-div:hover {
  border: 1px solid var(--primary-color);
  background: linear-gradient(-180deg, #faf5e5, #FFF);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  transition: 0.2s ease-in;
}


.exams-back-div .exam-div .exam-image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: -35px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  margin-bottom: -30px;
}

.exams-back-div .exam-div .exam-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.exams-back-div .exam-div .exam-status, .exams-back-div .exam-div .draft{
  font-size: 10px;
  padding: 3px 10px;
  align-self:self-end;
  border-radius: 15px;
  color:var(--text-color);
  border: 1px solid var(--text-color);
  background: rgba(124, 124, 124, 0.1);
}

.exams-back-div .exam-div .pending, .exams-back-div .exam-div .inprogress{
  color:var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background: rgba(247, 160, 37, 0.1);
}
.exams-back-div .exam-div .upcoming{
  color:var(--link-color);
  border: 1px solid var(--link-color);
  background: rgba(50, 138, 179, 0.1);
}
.exams-back-div .exam-div .done{
  color:var(--active-color);
  border: 1px solid var(--active-color);
  background: rgba(0, 153, 0, 0.1);
}



.exams-back-div .exam-div .exam-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.exams-back-div .exam-div .exam-info .exam-time {
  display: flex;
  gap: 10px;
  font-size: 10px;
}
.exams-back-div .exam-div .exam-info .exam-time p{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.exams-back-div .exam-div .exam-info .exam-time p i{
  color: var(--primary-color);
}

.exams-back-div .exam-div .btn {
  height: 30px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: linear-gradient(90deg,var(--primary-color), var(--secondary-color));
  color: var(--white-color);
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.2s ease-in;
  font-family: body-font;
  align-self: self-start;
  padding: 0px 15px;
}





/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.book-back-div {
  display: flex;
  justify-content: start;
  gap: 5px;
  padding: 20px;
  flex-wrap: wrap;
}

.book-back-div .book-div {
  position: relative;
  width: 19%;
  min-width: 170px;
  border-radius: 10px;
  border: #e6e6e6 1px solid;
  background: var(--white-color);
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content:start;
  flex-direction: column;
  cursor: pointer;
}
.book-back-div .book-div:hover {
  border: 1px solid var(--primary-color);
  background: linear-gradient(-180deg, #faf5e5, #FFF);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.book-back-div .book-div .image-div {
  position: relative;
  width:  calc(100%  - 20px);
  height: 200px;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 10px;
}

.book-back-div .book-div .image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   transition: 0.2s ease-in;
}

.book-back-div .book-div:hover .image-div img {
  transform: scale(1.1);
}

.book-back-div .book-div .icon-div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--white-color);
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  right: 20px;
  top: 190px;
  overflow: hidden;
  z-index: 2;
}

.book-back-div .book-div .icon-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book-back-div .book-div .text-div {
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-back-div .book-div .text-div .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.book-back-div .book-div .text-div .details h3 {
  font-family: sub-title-font;
  font-size: 18px;
  line-height: 20px;
  color: var(--body-color);
}

.book-back-div .book-div .text-div .btn {
  height: 30px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: linear-gradient(90deg,var(--primary-color), var(--secondary-color));
  color: var(--white-color);
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.2s ease-in;
  font-family: body-font;
  align-self: self-start;
  padding: 0px 15px;
}

.book-back-div .book-div .text-div .btn:hover {
  background: var(--secondary-color);
}