@charset "utf-8";
/* CSS Document */
header {
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

header .top-header {
  width: 100%;
  min-height: 40px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
}

header .top-header .top-header-inner {
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

header .top-header .top-header-inner .link-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #ffffff;
}

header .top-header .top-header-inner .link-div a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 13px;
}

header .top-header .top-header-inner .link-div a i {
  font-size: 15px;
  color: var(--secondary-color);
}
header .top-header .top-header-inner .link-div a:hover {
  text-decoration: underline;
}

header .top-header .top-header-inner .social-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .top-header .top-header-inner .social-icon-div a {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: var(--white-color);
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
}

header .top-header .top-header-inner .social-icon-div a i {
  cursor: pointer;
}
header .top-header .top-header-inner .social-icon-div a:hover {
  color: var(--white-color);
  background: var(--secondary-color);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

header .main-header {
  width: 100%;
  background: var(--white-color);
  height: 70px;
  box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .main-header .main-header-inner {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

header .main-header .main-header-inner .link-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header .main-header .main-header-inner .link-div .logo-div {
  width: 150px;
  padding: 5px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 15px;
}
header .main-header .main-header-inner .link-div .logo-div .div-in {
  background: var(--body-color);
  border-radius: 15px;
  overflow: hidden;
}

header .main-header .main-header-inner .link-div .logo-div .div-in img {
  width: 100%;
}

header .main-header .main-header-inner .link-div nav ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 17px;
}

header .main-header .main-header-inner .link-div nav ul li {
  list-style: none;
  font-size: 13px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
}

header .main-header .main-header-inner .link-div nav ul li:hover {
  color: var(--primary-color);
}

header .main-header .main-header-inner .button-div .btn {
  height: 40px;
  padding: 0px 20px;
  color: var(--white-color);
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  border: none;
  font-family: sub-title-font;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
}
header .main-header .main-header-inner .button-div .btn i {
  font-size: 18px;
  color: var(--secondary-color);
}
header .main-header .main-header-inner .button-div .btn:hover {
  opacity: 0.7;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.slide-section {
  width: 100%;
  padding-top: 105px;
  min-height: 200px;
}
.slide-section .slide-div {
  width: 100%;
  min-height: 300px;
  background: url(../all-images/images/photoslider1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.slide-section .slide-div .slide-inner-div {
  width: 86%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.slide-section .slide-div .slide-inner-div .slide-card {
  width: 550px;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(30px);
  border-radius: 30px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slide-section .slide-div .slide-inner-div .slide-card h1 {
  font-size: 40px;
  line-height: 45px;
  height: 130px;
  border-left: #9d043c 3px solid;
  padding: 0px 30px;
  margin: 0px;
}

.slide-section .slide-div .slide-inner-div .slide-card .text-div {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slide-section .slide-div .slide-inner-div .slide-card .text-div p {
  color: var(--sub-body-color);
  text-align: justify;
}
.slide-section .slide-div .slide-inner-div .slide-card .text-div p a {
  color: var(--link-color);
  font-family: sub-title-font;
}
.slide-section .slide-div .slide-inner-div .slide-card .text-div p a:hover {
  text-decoration: underline;
}

.slide-section .slide-div .slide-inner-div .slide-card .text-div .btn-div {
  display: flex;
  gap: 10px;
}

.slide-section .slide-div .slide-inner-div .slide-card .text-div .btn-div .btn {
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  border: none;
  border-radius: 25px;
  color: var(--white-color);
  font-family: sub-title-font;
  cursor: pointer;
  height: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
}
.slide-section
  .slide-div
  .slide-inner-div
  .slide-card
  .text-div
  .btn-div
  .btn:hover {
  opacity: 0.8;
}

.slide-section
  .slide-div
  .slide-inner-div
  .slide-card
  .text-div
  .btn-div
  .no-bg {
  background: transparent;
  border: #9c9a9a 1px solid;
  color: var(--sub-body-color);
}
.slide-section
  .slide-div
  .slide-inner-div
  .slide-card
  .text-div
  .btn-div
  .btn
  .span {
  color: var(--link-color);
}

.slide-section .slide-div .slide-inner-div .play-div{
	width:calc(100% - 590px);
	cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-section .slide-div .slide-inner-div .play-div .play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient(rgba(215, 53, 58, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: flex;
  box-shadow: 0px 0px 25px 3px rgba(215, 53, 58, 0.8);
}

/* triangle */
.slide-section .slide-div .slide-inner-div .play-div .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.slide-section .slide-div .slide-inner-div .play-div .play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.body-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-div .body-div-in {
  width: 85%;
  min-height: 200px;
  padding:50px 0px ;
  max-width: 1200px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.unique-back-div {
  width:  100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.unique-back-div .unique-div {
    width: 100%;
display: flex;
  justify-content: space-between;
  gap: 10px;
}

.unique-back-div .unique-div .icon-div{
  width: 60px;
  height: 60px;
  border: var(--primary-color) 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.unique-back-div .unique-div .icon-div i{
  color: var(--primary-color);
  font-size: 30px;
}


.unique-back-div .unique-div .text-div{
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  gap: 3px;
}

.unique-back-div .unique-div .text-div h2{
  font-family: sub-title-font;
  font-size: 17px;
  color: var(--body-color);
  font-weight: 300;
}

.unique-back-div .unique-div .text-div p{
  color: var(--sub-body-color);
  text-align: justify;
}

.unique-back-div .unique-div .secondary{
  border: var(--secondary-color) 1px solid;
}

.unique-back-div .unique-div .secondary i{
  color: var(--secondary-color);
}

.unique-back-div .unique-div .nuetral{
border: var(--sub-body-color) 1px solid;
}

.unique-back-div .unique-div .nuetral i{
color: var(--sub-body-color);
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.our-exam-back-div{
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.our-exam-back-div .mini-title-div{
    width: 150px;
    background: #ff80af6c;
    padding: 5px 20px;
}

.our-exam-back-div .mini-title-div span{
    color: var(--primary-color);
    font-size: 13px;
}

.our-exam-back-div .title-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-exam-back-div .title-div h2{
    font-family: sub-title-font;
    width: 350px;
}

.our-exam-back-div .title-div h2 span{
    color: var(--primary-color);
}

.our-exam-back-div .title-div .reg-btn{
    height: 40px;
  padding: 0px 0px 0px 40px;
  color: var(--white-color);
  background: var(--primary-color);
  border: none;
  font-family: sub-title-font;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
}

.our-exam-back-div .title-div .reg-btn:hover{
opacity: .6;
}

.our-exam-back-div .title-div .reg-btn i{
    background: #74002b;
    color: var(--white-color) ;
    border-radius: 100%;
    padding: 12px;
}

.our-exam-back-div .int-exam-back-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.our-exam-back-div .int-exam-back-div .int-exam-div{
    width: 23.5%;
    min-height: 200px;
    border: #b1b0b0 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.our-exam-back-div .int-exam-back-div .int-exam-div .image-div{
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
}

.our-exam-back-div .int-exam-back-div .int-exam-div .image-div img{
    width: 100%;
    object-fit: cover;
}

.our-exam-back-div .int-exam-back-div .int-exam-div .text-div{
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.our-exam-back-div .int-exam-back-div .int-exam-div .text-div h3{
    font-family: sub-title-font;
}

.our-exam-back-div .int-exam-back-div .int-exam-div .text-div p{
    font-family: body-font;
}

.our-exam-back-div .int-exam-back-div .int-exam-div .text-div span{
    font-family: sub-title-font;
    color: var(--primary-color);
}

.our-exam-back-div .int-exam-back-div .int-exam-div .text-div .count-button-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-exam-back-div .int-exam-back-div .int-exam-div .text-div .count-button-div span{
    color: var(--body-color);
    font-family: body-font;
}

.our-exam-back-div .int-exam-back-div .int-exam-div .text-div .count-button-div span i{
    color: var(--primary-color);
}

.our-exam-back-div .int-exam-back-div .int-exam-div .text-div .count-button-div .apply-btn{
       height: 40px;
  padding:  0px 20px;
  color: var(--white-color);
  background: var(--primary-color);
  border: none;
  font-family: sub-title-font;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
}

.our-exam-back-div .int-exam-back-div .int-exam-div .text-div .count-button-div .apply-btn:hover{
    opacity: .6;
}

.our-exam-back-div .buttons-div{
    display: flex;
    justify-content: flex-end;
}

.our-exam-back-div .buttons-div .reg-btn{
    width: 200px;
    height: 40px;
  padding: 0px 0px 0px 40px;
  color: var(--white-color);
  background: var(--primary-color);
  border: none;
  font-family: sub-title-font;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
  float: right;
}


.our-exam-back-div .buttons-div .reg-btn i{
    background: #74002b;
    color: var(--white-color) ;
    border-radius: 100%;
    padding: 12px;
}

.our-exam-back-div .buttons-div .reg-btn:hover{
    opacity: .6;
}
