/* CSS Document */
/* Developed by Mike Candy @ 04-07-2025 */

main {
  display: flex;
  height: 100%;
  width: 100%;
}

main .picture-div {
  position: fixed;
  left: 0px;
  height: 100%;
  width: 50%;
  background: url(../../all-images/images/portal-login-bg.jpg) center no-repeat;
  background-size: cover;
}

main .form-div {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--white-color);
  overflow: auto;
}

main .form-div .form-box {
  width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

main .form-div .form-box .form-box-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid #ccc;
}

main .form-div .form-box .form-box-content h1 {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-family: sub-title-font;
  color: var(--primary-color);
}
main .form-div .form-box .form-box-content .btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

main .form-div .form-box .form-box-content .btn-div .btn {
  border: none;
  height: 50px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 25px;
  font-family: body-font;
  align-self: self-start;
  padding: 0px 25px;
  color: var(--white-color);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 100%;
  background-position: left;
  transition: background-position 0.4s ease-in-out, transform 0.2s ease-in-out;
}

main .form-div .form-box .form-box-content .btn-div .btn:hover {
  background-size: 200% 100%;
  background-position: right;
  transform: scale(1.05); /* subtle hover grow */
}
main .form-div .form-box .form-box-content .btn-div a {
  color: var(--link-color);
}
main .form-div .form-box .form-box-content .btn-div a:hover {
  text-decoration: underline;
}

main .form-div .form-box .signup-message {
  font-family: body-font;
  text-align: center;
  color: var(--sub-body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main .form-div .form-box .signup-message a {
  color: var(--link-color);
  cursor: pointer;
}
main .form-div .form-box .signup-message a:hover {
  text-decoration: underline;
}

main .form-div .form-box .form-box-content .fullName-div {
  display: flex;
  gap: 20px;
}
