@charset "utf-8";
/* CSS Document */

header{
	width:100%;
	min-height:70px;
	position:fixed;
    background-color: var(--white-color);
	z-index:200;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .header-div-in{
	width:96%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .header-div-in .logo-back-div{
	display: flex;
	align-items: center;
	gap: 10px;
}

header .header-div-in .logo-back-div .logo-div{
	width: 140px;
	padding: 4px;
	border: rgba(0, 0, 0, 0.2) 1px solid;
	border-radius: 10px;
}

header .header-div-in .logo-back-div .logo-div .div-in {
  background: var(--body-color);
  border-radius: 10px;
  overflow: hidden;
}

header .header-div-in .logo-back-div .logo-div .div-in img{
    width: 100%;
	object-fit: cover;
}

header .header-div-in .logo-back-div .menu-div{
	display: none;
	align-items: center;
	justify-content: center;
	width:35px;
	height:35px;
	font-size:34px;
	padding: 4px;
	background: var(--bg-color);
	border-radius: 5px;
	color: var(--sub-body-color);
	cursor:pointer;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

header .header-div-in .header-nav-div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

header .header-div-in .header-nav-div .left-nav	{
	display: flex;
	align-items: center;
}

header .header-div-in .header-nav-div .left-nav	ul{
	display: flex;
	align-items: center;
	gap: 7px;
	padding: 0px 20px;
	margin: 0px;
}

header .header-div-in .header-nav-div .left-nav	ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	list-style: none;
	font-family: body-font;
	color: var(--text-color);
	padding: 10px 15px;
	font-size: 12px;
	border-radius: 5px;
	transition:all ease 0.2s;
	-webkit-transition:all ease 0.2s;
	-ms-transition:all ease 0.2s;
	-o-transition:all ease 0.2s;
	-moz-transition:all ease 0.2s;
	cursor:pointer;
}

header .header-div-in .header-nav-div .left-nav	ul li:hover,
header .header-div-in .header-nav-div .left-nav	ul .active-li
{
	background: rgba(204,204,204,.2);
	color: var(--primary-color);
}

header .header-div-in .header-nav-div .left-nav	ul li i{
	color: var(--secondary-color);
	font-size: 12px;
}

header .header-div-in .header-nav-div .right-nav{
	display: flex;
	align-items: center;
}

header .header-div-in .header-nav-div .right-nav .right-icon-div{
	min-width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border-right: #70818b 1px dashed;
}

header .header-div-in .header-nav-div .right-nav .left-icon-div{
	min-width: auto;
	gap: 0px;
	padding-right: 15px;
}

header .header-div-in .header-nav-div .right-nav .no-border {
	border-right: none;
	padding-left: 20px;
}

header .header-div-in .header-nav-div .right-nav .right-icon-div .icon-div{
	width:40px;
	height:40px;
	color:var(--sub-body-color);
	font-size:18px;
	border-radius:3px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition:all ease 0.2s;
	cursor:pointer;
}

header .header-div-in .header-nav-div .right-nav .right-icon-div .icon-div:hover{
	background: var(--bg-color);
}

header .header-div-in .header-nav-div .right-nav .right-icon-div .bell_notification div{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	background: #E1201F;
	border-radius: 100%;
	margin-left: -5px;
	margin-top: -8px;
	color: var(--white-color);
	font-family: body-font;
	font-size: 8px;
}

header .header-div-in .header-nav-div .right-nav .right-icon-div .profile-div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

header .header-div-in .header-nav-div .right-nav .right-icon-div .profile-div .info-div{
	width: calc(100% - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:var(--sub-body-color);
}

header .header-div-in .header-nav-div .right-nav .right-icon-div .profile-div .info-div .name{
	overflow:hidden;
    font-size: 15px;
	font-family: body-font;
	color: var(--sub-body-color);
}

header .header-div-in .header-nav-div .right-nav .right-icon-div .profile-div .info-div .role{
	font-family: body-font;
	font-size: 11px;
	color: var(--primary-color);
}

header .header-div-in .header-nav-div .right-nav .right-icon-div .profile-div .img-div{
	height: 40px;
	width: 40px;
	border-radius: 100%;
	overflow: hidden;
	cursor: pointer;
}

header .header-div-in .header-nav-div .right-nav .right-icon-div .profile-div .img-div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

header .header-div-in .header-nav-div .right-nav .toggle-profile-div{
	top:70px;
	width:300px;
	background: rgb(230, 230, 230);
	height: auto;
	position:absolute;
	right:1.5%;
	display:none;
	border-radius:10px;
	box-shadow:0px 0px 9px 1px rgba(0,0,0,.1);
}

header .header-div-in .header-nav-div .right-nav .toggle-profile-div:after{
	content:"";
	width:0px;
	height:0px;
	position: absolute;
	border:15px solid;
	border-color:  transparent  transparent  #F4F4F4 transparent;
	right:20px;
	top:-30px;
}

header .header-div-in .header-nav-div .right-nav .toggle-profile-div .toggle-div-in{
	padding:10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

header .header-div-in .header-nav-div .toggle-profile-div .toggle-div-in .toggle-profile-pix-div{
	width:80px;
	height:80px;
	overflow:hidden;
	border:rgba(215, 215, 215, .6) 2px solid;
	border-radius:8px;
	background:rgba(215, 215, 215, .6);
}

header .header-div-in .header-nav-div .right-nav .toggle-profile-div .toggle-div-in .toggle-profile-pix-div img{
    width: 100%;
    height: 100%;
	border-radius: 3px;
    object-fit: cover;
    box-sizing: border-box;
}

header .header-div-in .header-nav-div .right-nav .toggle-profile-div .toggle-div-in .header-content{
    width: calc(100% - 88px);
    display: flex;
	flex-direction: column;
	gap: 2px;
}

header .header-div-in .header-nav-div .right-nav .toggle-profile-div .toggle-div-in .header-content .toggle-profile-name{
	font-size: 14px;
	font-family: body-font;
	color: var(--sub-body-color);
}

header .header-div-in .header-nav-div .right-nav .toggle-profile-div .toggle-div-in .header-content .toggle-profile-others{
	font-family: body-font;
	font-size: 11px;
	color: var(--text-color);
}

header .header-div-in .header-nav-div .right-nav .toggle-profile-div .toggle-div-in .header-content .header-btn-div{
	display: flex;
	gap: 8px;
}

header .header-div-in .header-nav-div .right-nav .toggle-profile-div .toggle-div-in .header-content .header-btn-div .btn{
	min-width:90px;
	padding:10px;
	background:var(--sub-body-color);
	border:none;
	color:var(--white-color);
	font-family:body-font;
	font-size:12px;
	border-radius: 5px;
	transition:all ease 0.2s;
	-webkit-transition:all ease 0.2s;
	-ms-transition:all ease 0.2s;
	-o-transition:all ease 0.2s;
	-moz-transition:all ease 0.2s;
	cursor:pointer;
}

header .header-div-in .header-nav-div .right-nav .toggle-profile-div .toggle-div-in .header-content .header-btn-div .btn:hover{
	opacity:.9;
}



@media all and (max-width:970px) {
	header .header-div-in .header-nav-div .left-nav	ul{
		display: none;
	}
}

@media all and (max-width:700px) {
	header .header-div-in{
		width: 97%;
	}
	header .header-div-in .logo-back-div .menu-div{
		display: flex;
	}
}

@media all and (max-width:550px) {
	header .header-div-in .header-nav-div .right-nav .right-icon-div{
		min-width: 40px;
	}
	header .header-div-in .header-nav-div .right-nav .right-icon-div .profile-div{
		width: auto;
	}
	header .header-div-in .header-nav-div .right-nav .right-icon-div .profile-div .info-div{
		display: none;
	}
}

@media all and (max-width:390px) {
	header .header-div-in .logo-back-div .logo-div{
		width: 120px;
	}
}



.side-nav-div {
    position: fixed;
    width: 150px;
    height: calc(100% - 70px);
    left: 0px;
    bottom:0px;
    z-index: 150;
	background: var(--white-color);
}

#side-nav-div{
	left:-150px;
}

.side-nav-div .nav-back-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 30px;
	gap: 10px;
}

.side-nav-div .nav-back-div .nav-div{	
    width: calc(100% - 4px);
	min-height: 60px;
    font-size: 14px;
    padding: 5px 0px;
	color: var(--sub-body-color);
	 border-left:var(--white-color) 3px solid;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    gap: 5px;
    transition: all 0.2s ease-in 0.2s;
}

.side-nav-div .nav-back-div .nav-div .icon {
    font-size: 11px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	 gap: 4px;
	font-family: sub-title-font;
	text-align: center;
}

.side-nav-div .nav-back-div .nav-div .icon i{
    font-size: 22px;
}

.side-nav-div .nav-back-div .nav-div:hover, .side-nav-div .nav-back-div .active-li {
    color: var(--primary-color);
	background: rgba(204,204,204,.2);
	border-radius: 8px;
	border-left:var(--secondary-color) 3px solid;
}

.hidden{
	display:none;
}


.side-nav-bg-sub-div{
	position:fixed;
	width:calc(100% - 150px);
	height:calc(100% - 70px);
    bottom: 0px;
	background: rgba(0, 0, 0, .7);
	backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) brightness(0.8) contrast(1.2);
    -webkit-backdrop-filter: blur(10px) brightness(0.8) contrast(1.2);
	left:-100%;
	z-index:100;
}

.side-nav-bg-sub-div .nav-div{
	background: #f8f8f8;
	position:absolute;
	width:200px;
	height:100%;
    display: flex;
}

.side-nav-bg-sub-div .nav-div .link{
	height:20px;
	line-height:20px;
	border-bottom:rgba(215, 215, 215, .6) 1px solid;
	color:var(--sub-body-color);
	padding:10px;
    font-size: 13px;
    font-family: body-font;
	cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
	-moz-transition:all 0.2s ease-in 02s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}
.side-nav-bg-sub-div .nav-div .link .num{
	display: flex;
	align-items: center;
	justify-content: center;
	height:20px;
	min-width:20px;
	padding:0px 5px;
	background:#FE5000;
	color:var(--white-color);
	font-size:12px;
	border-radius:3px;
}
.side-nav-bg-sub-div .nav-div .link:hover{
	background:rgba(215, 215, 215, .6);
}

.side-nav-bg-sub-div .nav-back-container{
	position:absolute;
	width:calc(100% - 200px);
	height:100%;
	right:0px;
	cursor: pointer;
} 